
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Dashboard</h1>
<a class="btn btn-primary" asp-controller="Admin" asp-action="AddUser"> ADD</a>
<a class="btn btn-info" asp-controller="Admin" asp-action="ViewList">View List</a>
<a class="btn btn-info" asp-controller="Home" asp-action="Index">LOGOUT</a>




